table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: smaller;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.boldClass{
  font-weight: bold;
}